@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

body {
    background-image: url('../img/sfondoBody.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: fit-content;
    background-attachment: fixed;
    background-color: hsla(0, 0%, 0%, 0.6);
}

.navbar-brand {
    font-family: 'Tangerine', cursive;
}

#banner {
    font-family: 'Tangerine', cursive;

    h1 {
        border-bottom: 2px solid white;
    }
}

section {
    h3 {
        background-image: url('../img/sfondoBody.jpeg');
        background-size: cover;
        background-position: center;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    img {
        width: 200px;
        height: 200px;
    }
}