@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

.maratea {
    background-image: url('../img/maratea.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.monticchio {
    background-image: url('../img/monticchioGrande.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.castelSantAngelo {
    background-image: url('../img/castelSantAngelo.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.rivaLago {
    background-image: url('../img/sfondoBody.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.benevento {
    background-image: url('../img/centroStoricoBenevento.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: fit-content;
    background-attachment: fixed;
    background-color: hsla(0, 0%, 0%, 0.6);
}

.navbar-brand {
    font-family: 'Tangerine', cursive;
}

#downloadCV {
    @include media-breakpoint-up(lg) {
        width: 25%;
    }
}


nav,
section,
footer {
    box-shadow: 0px 3px 20px black;
}

#banner {
    font-family: 'Tangerine', cursive;
    height: calc(100vh - 56px);

    h1 {
        border-bottom: 2px solid white;
    }
}

section,
footer {
    p {
        text-align: justify;
    }
}

#chiSono,
#mindset,
#contatti {
    img {
        width: 200px;
        height: 200px;
    }
}

$fotolg: 430px;

.card {
    width: 75%;

    img {
        height: calc((75%)/2.15);
    }

    @include media-breakpoint-up(md) {
        width: $fotolg;
        height: 300px;

        img {
            height: auto;
        }
    }
}

#foto {
    img {
        height: calc((100vw)/1.33);
        max-width: 100%;

        @include media-breakpoint-up(md) {
            height: 650px;
            width: calc((650px)*1.33);
        }
    }

    .carousel-caption {
        position: absolute;
        bottom: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: fit-content;
        background-attachment: fixed;
        background-color: hsla(0, 0%, 0%, 0.6);
    }

    .stretch {
        @include media-breakpoint-up(md) {
            height: 650px;
            width: calc((650px)*0.75);
        }
    }
}

//////////////////// ANIMAZIONI ////////////////////////
@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}


.slide-in-blurred-top {
    -moz-animation: slide-in-blurred-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.2s both;
    -webkit-animation: slide-in-blurred-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.2s both;
    animation: slide-in-blurred-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.2s both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.tracking-in-expand {
    -moz-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.3s both;
    -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.3s both;
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.3s both;
}