@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

body {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.maratea {
    background-image: url('../img/maratea.jpeg');
}

.monticchio {
    background-image: url('../img/monticchioGrande.jpeg');
}

.castelSantAngelo {
    background-image: url('../img/castelSantAngelo.jpeg');
}

.rivaLago {
    background-image: url('../img/sfondoBody.jpeg');
}

main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: fit-content;
    background-attachment: fixed;
    background-color: hsla(0, 0%, 0%, 0.6);
}

.navbar-brand {
    font-family: 'Tangerine', cursive;
}


nav,
section {
    box-shadow: 0px 3px 20px black;
}

#banner {
    font-family: 'Tangerine', cursive;

    h1 {
        border-bottom: 2px solid white;
    }
}

section {
    p {
        text-align: justify;
    }
}

#chiSono, #mindset {
    img {
        width: 200px;
        height: 200px;
    }
}

$fotolg: 430px;

.card {
    width: 75%;

    img {
        height: (75%)/2.15;
    }

    @include media-breakpoint-up(md) {
        width: $fotolg;
        height: 300px;

        img {
            height: auto;
        }
    }
}

#foto {
    img {
        height: (100vw)/1.33;
        @include media-breakpoint-up(md) {
            height: 650px;
            width: (650px)*1.33;
        }
    }
    .carousel-caption {
        position: absolute;
        bottom: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: fit-content;
        background-attachment: fixed;
        background-color: hsla(0, 0%, 0%, 0.6);
    }
    .stretch {
        @include media-breakpoint-up(md) {
            height: 650px;
            width: (650px)*0.75;
        }
    }
}